@import "./utils/variables";

body{
    font-family: 'DM Sans', sans-serif;
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    padding-right: 100px;
    box-sizing: border-box;
    min-width: 320px;
}

header {
    margin-top: 20px;
    width: 100%;

}
.logo {
    width: 12em;
    margin-bottom: 2em;
}

h1 {
    font-weight: normal;
    font-size: 2.4em;
    color: $couleur-secondaire;
}
a {
    width: 100%;
}
main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
;
}
#bloc {
    height: 200px;
    width: 100%;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    background-color: #FAFAFA;
    padding-left: 2em;
    padding-right: 2em;
    &__photo {
        width: 150px;
        height: 150px;
        margin-top: -120px;
        border-radius: 50%;
        object-fit: cover;
        float: right;
    }

    &__lieu {
        margin-top: -25px;
        color: $couleur-primaire;
    }
    &__description {
        margin-top: -8px;
        font-size: 0.9em;
    }
}

ul {
    display: flex;
    flex-wrap: wrap;
    padding-inline-start: 0px;  
    margin-block-start: -2em;  
}

 li {
    display: inline;
    color: $couleur-primaire;
    font-size: 0.9em;
    font-weight: bolder;
    border: 1px #C4C4C4 solid;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    padding-right: 0.5em;
    padding-left: 0.5em;
    border-radius: 1em;
    margin-right: 5px;
    margin-top: 5px;
    
}
#contact {
    position: absolute;
    left: 38em;
    top: 10.5em;
    background-color: $couleur-primaire;
    border: none;
    border-radius: 3.5px;
    color: white;
    height: 3em;
    width: 8em;
}
.tri {
    width: 100%;
    margin-bottom: 50px;
    font-weight: bolder;
}

.tri_select {
    background-color: $couleur-primaire;
    color: white;
    margin-left: 15px;
    padding-left: 10px;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-right: 10px;
    border-radius: 5px;
}
.bloc_media {
    display: flex;
    flex-wrap: wrap;
    width: 350px;
    margin-bottom: 36px;
}
.bloc_media__image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
}
.bloc_media__video {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
}
h2 {
    margin: 0;
    font-weight: normal;
    color: $couleur-primaire;
}
.bloc_media__titre_et_icone {
    width: 100%;
}
.bloc_media__compteur {
    display: inline;
    font-size: 22px;
    margin-right: 5px;
    margin-top: -30px;
}
.bloc_media__icone_et_compteur {
    float: right;
    margin-top: -27px;
}
#lightbox {
    display: none;
    z-index: 1;
    position: fixed;
    overflow: auto;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    background-color: white;
    margin: 0 0 0 0;
}
#lightbox-content {
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 60px;
}
.slide {
    display: none;
    width: 80vw;
    height: 70vw;
    max-height: 80vh;
    margin-left: auto;
    margin-right: auto;
}
.slide h3 {
    color: $couleur-primaire;
    margin-top: 0px;
}
.slide__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center 30%;
}
.precedent {
    position: absolute;
    left: 1%;
    top: 45%;
    font-size: 2.5em;
    color: $couleur-primaire;

}
.suivant {
    position: absolute;
    left: 96%;
    top: 45%;
    font-size: 2.5em;
    color: $couleur-primaire;

}
.close {
    position: absolute;
    left: 95%;
    top: -30px;
    font-size: 3.5em;
    color: $couleur-primaire;
}

#modal {
    position: fixed;
    margin-right: auto;
    margin-left: auto;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: #DB8876;
    display: none;
    flex-direction: column;
    width: 40%;
    height: 80%;
    padding-left: 2em;
    padding-right: 2em;
}
.modal-title {
    font-size: 2.5em;
    font-weight: normal;
    margin-top: 10px;
}
.modal-name {
    font-size: 2.5em;
    margin-top: -1.2em;
    margin-bottom: 0.6em;
}
#close-modal {
    border: none;
    background-color: #DB8876;
    color: white;
    font-size: 3em;
    width: 0.9em;
    position: absolute;
    right: 0;
}
#form-firstname {
    border: none;
    border-radius: 3.5px;
    height: 3em;
}
#form-name {
    border:none;
    border-radius: 3.5px;
    height: 3em;
}
#form-email {
    border: none;
    border-radius: 3.5px;
    height: 3em;
}
#form-message {
    border: none;
    border-radius: 3.5px;
    height: 10em;
}
label {
    font-size: 20px;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}
.send-form {
    margin-top: 3em;
    border: none;
    border-radius: 3.5px;
    width: 10em;
    height: 4em;
    background-color: $couleur-primaire;
    color: white;
}

@media all and (max-width : 820px) {
    body {
        padding-left: 15px;
        padding-right: 15px;
    }
    main {
        justify-content: center;
    }
    #bloc {
        font-size: 12px;
        padding-left: 0;
        padding-right: 0;
        &__photo {
            width: 110px;
            height: 110px;
            margin-top: -90px;
        }
        &__nom {
            width: 80%;
        }
    }

    ul {
        margin-block-start: -2em;  
        width: 75%;
    }
    #contact {
        position: fixed;
        top: auto;
        bottom: 25px;
        margin-right: auto;
        margin-left: auto;
        left: 0;
        right: 0;
        width: 11em;
        height: 2.5em;
        }
    .bloc_media {
        width: 335px;
        font-size: 14px;
    }
    .bloc_media__image {
        height: 190px;
        object-position: center 20%;
    }
    .bloc_media__video {
        height: 190px;
        object-position: center 20%;
    }
    #modal {
        font-size: 0.9em;
        left: auto;
        right: auto;
        width: 90%;
        height: 100%;
        top: 0px;
    }
    #close-modal {
        right: 10px;
    }
    .send-form {
        margin-left: auto;
        margin-right: auto;
        height: 2.5em;
    }
    .precedent {
        font-size: 1.5em;
    }
    .suivant {
        font-size: 1.5em;
    }
    .close {
        font-size: 2em;
        top: -15px;
    }
    .slide {
        width: 75vw;
    }
    #lightbox-content {
        margin-top: 70%;
    }
}